@model IEnumerable<Customer>


    <div class="handler padding">
        <ul class="list-inline">
            <li class="list-inline-item handler-item">
                <a asp-controller="Admin" asp-action="Books" class="btn">Книги</a>
            </li>
            <li class="list-inline-item handler-item">
                <a asp-controller="Admin" asp-action="Authors" class="btn">Автори</a>
            </li>
            <li class="list-inline-item handler-item">
                <a asp-controller="Admin" asp-action="Categories" class="btn">Категорії</a>
            </li>
            <li class="list-inline-item handler-item">
                <a asp-controller="Admin" asp-action="Customers" class="btn">Покупці</a>
            </li>
        </ul>
    </div>
<div>
    <h1>Користувачі</h1>
    @if (Model.Any())
    {
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Ім'я</th>
                    <th scope="col">Email</th>
                    <th scope="col">Дії</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var customer in Model)
                {
                    <tr>
                        <th>@customer.Id</th>
                        <td>@customer.UserName</td>
                        <td>@customer.Email</td>
                        <td>
                            <form asp-controller="Admin" asp-action="DeleteCustomer" asp-route-id="@customer.Id" method="post">
                                <button type="submit" class="btn btn-danger m-1"
                                        onclick="return confirm('Ви впевнені, що хочете видалити покупця: @customer.UserName?')">
                                    Видалити
                                </button>

                            </form>
                        </td>
                    </tr>
                }

            </tbody>
        </table>

    }
    else
    {
        <p>You have no books yet.</p>
    }
</div>