@model IEnumerable<BookPreviewDto>
@inject SignInManager<Customer> _signInManager;

<div class="container">
    <div class="row padding">
        @foreach (var book in Model)
        {
            <div class="col-md-3 padding">
                <div class="card">
                    <div class="card-header">
                        <a asp-controller="Book" asp-action="Details" asp-route-id="@book.Id">
                            <img src=@book.ImageUrl class="card-img-top" asp-append-version="true" alt="book image" />
                        </a>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">
                            <a asp-controller="Book" asp-action="Details" asp-route-id="@book.Id">@book.Title</a>
                        </h4>
                        <p class="card-text">@book.Price грн</p>
                        <!--<button class="btn detal" data-toggle="modal" data-target="#gavel">
                            У КОШИК
                        </button>-->

                    </div>
                    <div class="card-footer">

                        <a href=#><i class="fas fa-shopping-cart"></i></a>
                        @if (_signInManager.IsSignedIn(User) && User.IsInRole("Admin"))
                        {
                            <form asp-controller="Book" asp-action="Delete" asp-route-id="@book.Id" method="post">

                                <a class="btn btn-warning m-1" asp-controller="Book" asp-action="Update" asp-route-id="@book.Id">
                                    Редагувати
                                </a>
                                <button type="submit" class="btn btn-danger m-1"
                                        onclick="return confirm('Ви впевнені, що хочете видалити книгу: @book.Title?')">
                                    Видалити
                                </button>

                            </form>
                        }
                    </div>
                </div>
            </div>
        }
    </div>
</div>
