@model AddOrderDto

@{
    ViewBag.Title = "Оформлення";
}

<div>
    <h2>Замовлення</h2>

    <form asp-controller="Order" asp-action="Add" asp-route-order="@Model" method="post">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Назва</th>
                    <th scope="col">Ціна</th>
                    <th scope="col">Кількість</th>
                </tr>
            </thead>
            <tbody>
                @for (int i = 0; i < Model.Carts.Count; i++)
                {
                    <tr>
                        <input hidden asp-for="@Model.Carts[i].Id" />
                        <input hidden asp-for="@Model.Carts[i].Book.Id" />
                        <input hidden asp-for="@Model.Carts[i].Book.ImageUrl" />
                        <input hidden asp-for="@Model.Carts[i].Book.Title" />
                        <input hidden asp-for="@Model.Carts[i].Book.Price" />
                        <input hidden asp-for="@Model.Carts[i].Amount" />
                        <td><img src=@Model.Carts[i].Book.ImageUrl class="handler-img" asp-append-version="true" alt="book image" /></td>
                        <td>@Model.Carts[i].Book.Title</td>
                        <td>@Model.Carts[i].Book.Price</td>
                        <td>
                            @Model.Carts[i].Amount
                        </td>
                    </tr>
                }

            </tbody>
        </table>

        <h2>
            Загальна сума
        </h2>
        <h3>
            @Model.TotalSum грн
        </h3>

        <div class="form-group row">
            <label asp-for="Name" class="col-sm-2 col-form-label"></label>
            <input asp-for="Name" class="form-control" placeholder="Ім'я" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="form-group row">
            <label asp-for="Surname" class="col-sm-2 col-form-label"></label>
            <input asp-for="Surname" class="form-control" placeholder="Прізвище" />
            <span asp-validation-for="Surname" class="text-danger"></span>
        </div>
        <div class="form-group row">
            <label asp-for="Phone" class="col-sm-2 col-form-label"></label>
            <input asp-for="Phone" class="form-control" placeholder="Номер телефону" />
            <span asp-validation-for="Phone" class="text-danger"></span>
        </div>
        <div class="form-group row">
            <label asp-for="Deliver" class="centered">Ціна</label>
            <select asp-for="Deliver" class="form-control" onchange="chooseDeliver(value)">
                <option value="самовивіз">самовивіз</option>
                <option value="доставка">доставка</option>
            </select>
        </div>
        <div class="form-group row" style="display:none" id="deliverAddress">
            <label asp-for="DeliverAddress" class="col-sm-2 col-form-label"></label>
            <input asp-for="DeliverAddress" class="form-control" placeholder="Адреса доставки" value="самовивіз" />
        </div>

        <a class="btn btn-warning m-1" asp-controller="Cart" asp-action="Books">
            Змінити
        </a>

        <button type="submit" class="btn btn-warning m-1">
            Завершити оформлення
        </button>
    </form>

</div>

